<%= render partial: "shared/toolbar", locals: { text: "Emulator for output '#{@emulator.output.name}' trained with #{@emulator.nugget_variance_enabled ? ' nugget variance ' + number_with_precision(@emulator.nugget_variance, precision: 5, strip_insignificant_zeros: false) + ' and ' : ''}normalisation #{(@emulator.normalisation ? "enabled" : "disabled")}.", parent: @project, object: @emulator, export_options: ["matlab", "json"] } %>

<div class="row">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#parameters" data-toggle="tab">Optimised parameters</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="parameters">
          <table border="1">
            <tr>
              <th>Input</th>
              <th>Length scale</th>
            </tr>
            <% @emulator.design.design_values.each_with_index do |value, i| %>
            <tr>
              <td><%= value.input.name %></td>
              <td><%= @emulator.length_scales[i] %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>