<div class="row space-bottom">
  <div class="span8">
    <div class="toolbar-info">
      &nbsp;
    </div>
  </div>
  <div class="span4">
    <div class="btn-toolbar pull-right">
      <%= render partial: "shared/project_options_button", locals: { project: project, type: type } %>
    </div>
  </div>
</div>