<div class="row">
  <div class="span7">
    <%= simple_form_for @emulator_project, html: { class: 'form-horizontal' } do |f| %>
      
      <%= f.input :name %>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>