<div class="row">
  <div class="span7">
    <%= simple_form_for @emulator_project, html: { class: 'form-horizontal' } do |f| %>
      <%= render partial: "shared/simulator_select", locals: { form: f } %>

      <div class="form-actions">
        <%= f.button :submit, disabled: 'disabled' %>
      </div>
    <% end %>
  </div>
</div>