<div class="row">
  <div class="span7">
    <%= simple_form_for [@project, @run], html: { class: 'form-horizontal' } do |f| %>
      <%= f.input :simulator_specification_id, as: :hidden, input_html: { value: @project.simulator_specification.id } %>
      <%= f.input :design_id, as: :hidden, input_html: { value: @project.design.id } %>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>